/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.components-placeholder {
	.has-video-preview & {
		background: none;
		padding: 0;
	}
}

.editor-brightcove-selector__button {
	padding: 6px 12px;

	.has-video-preview & {
		position: absolute;
		bottom: 24px;
		right: 24px;
	}
}
